
header {
    background-color: #303030;
    color: #d4924c;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    font-family: "lemonmilk-regular";
    list-style: none;
    display: flex;
    cursor: pointer;
    padding: 0;
}

nav li {
    font-size: calc(16px + .25vw);
    margin-left: 2em;
}

nav li:hover,
nav li:focus
{
    color: white;
}

h1 {
    font-family: "lemonmilk-regular";
    font-size: calc(16px + .5vw);
    margin: 0;
}

p {
    font-family: lemonmilk-italic;
    font-size: calc(8px + .5vw);
    text-align: center;
}

@media screen and (max-width: 640px) {
    .container {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    h1, p {
        padding-top: 1em;
    }

    nav li {
        margin: 0.8em 0;
    }
}