@using HungerGamesSimulator.Data;

<div class="main">
  <h2> 
    Welcome! 
  </h2>
  <p class="intro">
    This is an introductory Blazor project by MachiTeaStudios and we hope that you enjoy it!
    Wanting to learn more about the project? Click the about page. If you'd like
    to see a feature implemented that isn't here, please contact us at temp@@gmail.com
  </p>
  <h3>
    Credits
  </h3>
  <ul>
    <li>
      Mikalo, Front End
    </li>
    <li>
      Malik Hollins, Back End
    </li>
    <li>
      philip0000000, Back End
    </li>
  </ul>
  <h3>
    Start Simulation
  </h3>
  <p>
    To get started, hit "Create Tributes" and begin your own Hunger Game experience!
  </p>
</div> <!-- end main-->