@using HungerGamesSimulator.Data

<h2>Tributes</h2>

<p> Add your Tributes names in the form below.</p>
<TributeForm OnTributeCreated="AddTribute" />

<br>

<div class="tribute-table">
<p> Here is the current list of Tributes:</p>
  <TributeTable OnTributeDeleted="RemoveTribute" actors="UserState.Tributes"/>  
  
  <br>

  <div class="button-container">
    <button type="button" id="tribute-clear" @onclick="@ClearTributes">Clear Tributes</button>
  </div>
</div>

<br>

@code
{
  [Parameter, EditorRequired]
  public UserState UserState { get; set; } = null!;

  private const string EnterCode = "Enter";

  private void AddTribute( IActor tribute )
  {
    UserState.Tributes.Add( tribute );
    UserState.Reset = true;
  }

  private void RemoveTribute( IActor tribute )
  {
    UserState.Tributes.Remove( tribute );
    UserState.Reset = true;
  }

  private void ClearTributes()
  {
    UserState.Tributes.Clear();
    UserState.Reset = true;
  }
}
