@using HungerGamesSimulator.Data
@inject IMessageCenter MessageCenter;
@inject HttpClient HttpClient;

<div class="main">
  <h3>The 1st Annual Hunger Games</h3>
  <div class="simulationText">
  @if ( !cannon )
  {
      @foreach ( var message in MessageCenter.GetMessages() )
      {
        <p> @message </p>
      }
  }
  else
  {
      <p> @MessageCenter.GetCannonMessages().Count Cannon shot(s) can be heard in the distance </p>
      @foreach ( var message in MessageCenter.GetCannonMessages() )
      {
        <p> @message </p>
      }
  }
  <button @onclick="Simulate"> Continue </button>
        <button @onclick="Restart"> Restart </button>
  </div>
</div>

@code {
  [Parameter]
  public Simulation? Simulation { get; set; }

  [Parameter]
  public EventCallback<Simulation?> SimulationChanged { get; set; }

  [Parameter]
  public bool Reset { get; set; }

  [Parameter, EditorRequired]
  public List<IActor> Tributes { get; set; }

  private bool cannon = false;
  private SimulationService? simulationService;

  protected override async Task OnInitializedAsync()
  {
    if ( Simulation == null || Reset )
    {
      // retrieve weapon data from a static json stored on the client
      Storage storage = new Storage( HttpClient );
      var response = await storage.GetWeaponsAsync();

      // create new simulation
      Simulation = new Simulation( Tributes, response );
      await SimulationChanged.InvokeAsync( Simulation );

      simulationService = new SimulationService( Simulation, MessageCenter );
    }
  }

  private async Task Simulate()
  {
    if (MessageCenter.GetCannonMessages().Count > 0)
    {
      if (cannon)
      {
        cannon = false;
      }
      else
      {
        cannon = true;
        return;
      }
    }

    simulationService?.Act();
    await SimulationChanged.InvokeAsync(Simulation);
  }

  private async Task Restart()
  {
    // reset tributes
    foreach (var tribute in Tributes)
    {
      if (tribute is Actor actor)  // This check is needed if IActor might have implementations other than Actor
      {
        actor.Reset();
      }
    }

    // Clear message center
    MessageCenter.ClearMessages();
    MessageCenter.ClearCannonMessages();
    cannon = false; // must reset this also
    // TO:DO Maybe converting the storage local variable to a class property?
    // retrieve weapon data from a static json stored on the client
    Storage storage = new Storage(HttpClient);
    var response = await storage.GetWeaponsAsync();

    // create new simulation
    Simulation = new Simulation(Tributes, response);
    await SimulationChanged.InvokeAsync(Simulation);

    simulationService = new SimulationService(Simulation, MessageCenter);
  }
}