@using HungerGamesSimulator.Data
@inject IMessageCenter MessageCenter;

<div class="main">
  <h3>The 1st Annual Hunger Games</h3>
  <button @onclick="Simulate"> Continue </button>
  <div class="simulationText">
    @foreach ( var message in MessageCenter.GetMessages() )
    {
      <p> @message </p>
    }
  </div>
</div>

@code {

  [Parameter]
  public Simulation? Simulation { get; set; }
  
  [Parameter]
  public EventCallback<Simulation?> SimulationChanged { get; set; }
  
  [Parameter]
  public bool Reset { get; set; }

  [Parameter]
  public List<IActor> Tributes { get; set; }

  protected override async Task OnInitializedAsync()
  {
    if ( Simulation == null || Reset )
    {

      Simulation = new Simulation( MessageCenter, Tributes );
      await SimulationChanged.InvokeAsync( Simulation );
    }
  }

  private async Task Simulate()
  {
    Simulation?.Simulate();
    await SimulationChanged.InvokeAsync(Simulation);
  }
}