@using HungerGamesSimulator.Data
@inject HttpClient HttpClient;

<div class="main">
    <h1>The 1st Annual Hunger Games</h1>
    <div class="simulationText">
        @if (state == SimulationState.Winner)
        {
            <p> @GetWinnerText() </p>
        }
        else if (state == SimulationState.Description)
        {
            <DisplayList Text="UserState?.MessageCenter?.GetMessages()"></DisplayList>
        }
        else if (state == SimulationState.Cannon)
        {
            <p> @UserState?.MessageCenter?.GetCannonMessagesCount() Cannon shot(s) can be heard in the distance </p>
            <DisplayList Text="UserState?.MessageCenter?.GetCannonMessages()"></DisplayList>
        }
        else
        {
            <p> Click continue to start the simulation </p>
        }
        <div class="button-container">
            <button @onclick="UpdateState"> Continue </button>
            <button @onclick="Restart"> Restart </button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public UserState UserState { get; set; } = null!;

    private SimulationState state = SimulationState.Empty;

    private Storage? storage;

    protected override async Task OnInitializedAsync()
    {
        if (storage == null)
        {
            storage = new Storage(HttpClient);            
        }

        if (UserState.Reset)
        {
            await Restart();
            UserState.Reset = false;
        }

        state = UserState.CurrentState;
    }

    private async Task UpdateState()
    {
        UserState?.MessageCenter?.ClearMessages();

        switch (state)
        {
            case SimulationState.Cannon:
                {
                    if (UserState != null && ( UserState?.ActiveSimulation?.IsSimulationFinished() ?? false ) )
                    {
                        state = SimulationState.Winner;
                    }
                    else
                    {
                        UserState?.MessageCenter?.ClearCannonMessages();
                        state = SimulationState.Description;
                        Simulate();
                    }
                }
                break;
            case SimulationState.Description:
                {
                    if (UserState != null && UserState?.MessageCenter?.GetCannonMessages().Count > 0)
                    {
                        state = SimulationState.Cannon;
                    }
                    else if (UserState != null && (UserState?.ActiveSimulation?.IsSimulationFinished() ?? false))
                    {
                        state = SimulationState.Winner;
                    }
                    else
                    {
                        Simulate();
                    }
                }
                break;
            case SimulationState.Winner:
                {
                    state = SimulationState.Empty;
                }
                break;
            default:
                {
                    await Restart();
                    state = SimulationState.Description;
                    Simulate();
                }
                break;
        }

        if (UserState != null)
        {
            UserState.CurrentState = state;
        }
    }

    private void Simulate()
    {
        if (UserState == null)
        {
            return;
        }

        UserState.ActiveSimulation?.Act();
    }

    private async Task Restart()
    {
        if (storage == null)
        {
            throw new ArgumentNullException("Storage was not initialized properly");
        }

        // reset tributes
        foreach (var tribute in UserState.Tributes )
        {
            if (tribute is Actor actor)  // This check is needed if IActor might have implementations other than Actor
            {
                actor.Reset();
            }
        }

        // TO:DO Maybe converting the storage local variable to a class property?
        // retrieve weapon data from a static json stored on the client
        var response = await storage.GetWeaponsAsync();
        var otherResponse = await storage.GetServiceGameStrings();

        // create new simulation
        var simulation = new Simulation(UserState.Tributes, response, otherResponse);
        var messageCenter = new MessageCenter();
        var simulationService = new SimulationService(simulation, messageCenter);
        state = SimulationState.Empty;

        // save the new user state
        UserState.ActiveSimulation = simulationService;
        UserState.CurrentState = state;
        UserState.MessageCenter = messageCenter;
    }

    private string GetWinnerText()
    {
        if (UserState == null || UserState.ActiveSimulation == null)
        {
            return String.Empty;
        }

        var actor = UserState.ActiveSimulation.GetWinner();

        return $"The winner of the Xst hunger games is {actor.Name}";
    }
}