::deep form {
  padding: 10px;
  min-width: 13%;
}

::deep label {
  width: 100%;
}

::deep .invalid {
  outline: 1px solid red;
}

::deep .validation-message {
  color: red;
}

::deep input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
