::deep form {
  border: 1px dotted pink;
  border-radius: 4px;
  padding: 10px;
  min-width: 13%;
}

::deep .invalid {
  outline: 1px solid red;
}

::deep .validation-message {
  color: red;
}

::deep input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background: #EC9706;
  border: 1px solid pink;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
