.tributes-table {
  margin-inline: auto;
  max-width: 100%;
  overflow-x: scroll;
}

#tributes { 
  width: 100%;
  border-collapse: collapse;
}

#tributes tr.header {
}

#tributes tr:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

#tributes th.header {
  padding: 1rem;
  background: pink;
  text-align: left;
}

#tributes tr.info,
#tributes td.info {
  text-align: center;
  padding: 1rem;
}

th.header:first-child {
  border-radius: 5px 0 0 0;
}

th.header:last-child {
  border-radius: 0 5px 0 0;
}


#tributes td.info {
  white-space: nowrap;
}

::deep button {
    width: 100%;
}
