button[b-enywm35dh8] {
    height: 50px;
    width: 200px;
    font-size: medium;
}

.header[b-enywm35dh8] {
  display: flex;
  max-width: 100%;
  height: 65px;
  background: pink;
  align-items: center;
  justify-content: space-between;
}

.navigation[b-enywm35dh8] {
  list-style: none;
  text-decoration: none;
  padding-right: 5%;
}

 .navigation li[b-enywm35dh8] {
   display: inline-block;
   font-size: 15px;
   overflow: hidden;
   padding: 0 10px 0 10px;
   color: black;
   cursor: pointer;
 }

h1[b-enywm35dh8] {
  padding-left: 5%;
  margin: 0;
}

p[b-enywm35dh8] {
  font-style: italic;
}


.body[b-enywm35dh8] {
  margin: 0 5% 0 5%;
}
