.header[b-i881ifjw89] {
    display: flex;
    max-width: 100%;
    height: 65px;
    background: pink;
    align-items: center;
    justify-content: space-between;
}

.navigation[b-i881ifjw89] {
    list-style: none;
    text-decoration: none;
    padding-right: 5%;
}
.navigation li[b-i881ifjw89] {
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    padding: 0 10px 0 10px;
}

.navigation a[b-i881ifjw89] {
    text-decoration: none;
    color: black;
}

h1[b-i881ifjw89] {
    padding-left: 5%;
    margin: 0;
}

p[b-i881ifjw89] {
    font-style: italic;
}