@page "/"

@using HungerGamesSimulator.Data;
@using HungerGamesSimulator.Components;

<div class="header">
  <h1> Hunger Games Simulator </h1>
  <p>"May the odds be ever in your favor"</p>
  <ul class="navigation">
    <li @onclick="@( () => state = GameState.Home )">Home</li>
    <li>About</li>
  </ul>
</div>

<div class="body">


@if ( state == GameState.Home )
{
    <Home />

    <button @onclick="@ChangeState">Create Tributes</button>
}
else if ( state == GameState.Reaping )
{
    <Reaping @bind-Tributes=tributes @bind-Tributes:after="TributesUpdated" />

    <button @onclick="@ChangeState">Start Simulation</button>
}
else if ( state == GameState.Simulation )
{
    <Simulation @bind-World=world Tributes=tributes Reset=resetWorld />
}

@code
  {
    private GameState state = GameState.Home;

    private World? world;

    private List<IActor> tributes = new List<IActor>();

    private bool tributeUpdated = false;

    private bool resetWorld = false;

    private void TributesUpdated()
    {
      tributeUpdated = true;
    }

    private void ChangeState()
    {
      switch (state)
      {
        case GameState.Home:
          state = GameState.Reaping;
          break;
        case GameState.Reaping:
       
          resetWorld = tributeUpdated;
          tributeUpdated = false;

          state = GameState.Simulation;
          break;

        default:
          break;
      }
    }
}
     
</div>