
@font-face {
  font-family: 'lemonmilk-regular';
  src: url('fonts/lemonmilk-regular.otf');
}

@font-face {
  font-family: 'lemonmilk-italic';
  src: url('fonts/lemonmilk-regularitalic.otf');
}

@font-face {
  font-family: 'dortmund-extrabold';
  src: url('fonts/dortmund-extrabold.otf');
}

@font-face {
  font-family: 'young';
  src: url('fonts/young.ttf') format('truetype');
}

button {
  height: 50px;
  width: 200px;
  font-size: medium;
  font-family: young;
}

.body {
    margin: auto;
    max-width: 50%;
}
