
@font-face {
  font-family: 'lemonmilk-regular';
  src: url('fonts/lemonmilk-regular.otf');
}

@font-face {
  font-family: 'lemonmilk-italic';
  src: url('fonts/lemonmilk-regularitalic.otf');
}

@font-face {
  font-family: 'dortmund-extrabold';
  src: url('fonts/dortmund-extrabold.otf');
}

@font-face {
  font-family: 'young';
  src: url('fonts/young.ttf') format('truetype');
}

::deep button {
    font-family: lemonmilk-regular;
    border-radius: 5px;
    color: #d4924c;
    background: #303030;
}

button {
    height: 50px;
    width: 200px;
    font-size: medium;
}

::deep button:hover,
button:focus {
    color: white;
}

.body {
    margin: auto;
    max-width: 75%;
    font-family: young;
}
