@page "/"

@using HungerGamesSimulator.Data;
@using HungerGamesSimulator.Components;

<Header RequestStateChangeAsync="RequestStateChange"/>

<div class="body">

@if ( _state == GameState.Home )
{
    <Home />

    <button @onclick="@ChangeState">Create Tributes</button>
}
  else if ( _state == GameState.Reaping )
{
    <Reaping UserState=_userState/>

    <button @onclick="@ChangeState">Start Simulation</button>
}
  else if ( _state == GameState.Simulation )
{
    <Sim UserState=_userState />
}

@code
  {
    private GameState _state = GameState.Home;

    private UserState _userState = new UserState();

    private void ChangeState()
    {
      switch (_state)
      {
        case GameState.Home:
        _state = GameState.Reaping;
        break;
        case GameState.Reaping:
        _state = GameState.Simulation;
        break;
      }
    }

    private void RequestStateChange(GameState state)
    {
      _state = state; 
    }
}
     
</div>